body {
 font-family:Arial, sans-serif;
 background-color: lightgray;
 text-align: center;
 margin: 20px;
}
h1{
 color:black;
 margin-bottom: 30px;

}
.product-box{
 background-color: white;
 width: 300px;
 margin:0 auto;
 padding: 15px;
 border: 2px solid gray;
 border-radius: 8px